/* Fonts from Google Fonts - more at https://fonts.google.com */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
@import url('https://fonts.googleapis.com/css?family=Merriweather:400,700');

body {
  background-color: darkslategray;
  font-family: "Merriweather", sans-serif;
  padding: 5px 25px;
  font-size: 18px;
  margin: 0;
  color: #444;
  color: white;
}

h1 {
  font-family: "Open sans", serif;
  font-size: 32px;
  color: blue;
}
ol{
  color:aqua;
}
ol:hover{
  Color:black;
}
a{
  color:darkviolet;
}
a:hover{
  Color:black;
}
div{
  border-color:aqua;
  border-radius: 17px;
  border-style: hidden
}
#header{
  width:auto;
  height:auto;
}
#main{
  width:800px;
  height:auto;
  background-color: slategray;
}
#aside{
  width:auto;
  height:auto;
  background-color: slategray;

}
#pictureod{
  width:67px;
  height:auto;
  background-color: slategray;
  border-style: dashed;
  border-width: thick;

}

